<!DOCTYPE html>
<html lang="en">
  <head>
    <title>webpack boilerplate</title>
  <script defer src="../../scripts/vendor.8b18328d44405e5b7f00.js"></script><script defer src="../../scripts/styles.3276d376f7ca4200f036.js"></script><script defer src="../../scripts/test2.eadc84fa3b0a37490861.js"></script><link href="../../scripts/../styles/blocks.vendor.build.css" rel="stylesheet"><link href="../../scripts/../styles/blocks.styles.build.css" rel="stylesheet"></head>

  <body>
    <div id="root"></div>
  </body>
</html>
